*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  
}
#header{
   
   background-color: rgba(255, 144, 14, 0.1); 
}
#nav-container{
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
    align-items: center;
}
.li-container{
    display: flex;
}
.li-container li ,a{
list-style: none;
text-decoration: none;
}
.li-container a{
   margin: 0px 15px;
   color:#424242 ;
   font-size: 1.2rem;
   font-weight: 500;
}
#nav-container h1{
font-size: 2rem;
font-weight: bold;
}
.li-container a:hover{
    color: red;
}
#hero-container{
    max-width: 80%;
    margin: 50px auto;
    text-align: center;
}
#hero-container h2{
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin: 20px 200px;
}
#hero-container p{
    font-size: 1rem;
     margin: 10px 150px;
      color:#424242 ;
}
.hero-button{
    padding: 10px;
    background-color: #FF900E;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
     margin: 10px auto;
     border: none;
}
.hero-button:hover{
    color: black;
}
.hero-img-container img{
    width: 100%;
    margin: 10px auto;
}
#main{
    max-width: 80%;
    margin: 50px auto;
    
}
#our-feature{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.same{
 flex-basis: 50%;
 align-items: center;
}
.team-img-container{
    display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
 }
.img-container img{
    width: 100%;
    height: 100%;
}
.text-container{
    /* margin-left: 76px;
    margin-right: 200px; */
    padding-left: 50px;
}
.text-container .span1{
    font-weight: 400;
    color: #424242;
}
.span3{
    color: #FF900E;
}
.text-container p{
     font-size: 1rem;
    color:#424242 ;
}
#you-feature{
    display: flex;
   margin-top: 50px;
   gap: 30px;
    justify-content: center;
}
.same1{
    max-width: 50%;
}
.you-feature-img-container img{
    max-width: 100%;
    max-height: 100%;
}
/* .you-feature-img-container{
    padding-left: 50px;
} */
.head-container h2{
    font-size: 2em;
    font-weight: bold;
        margin-bottom: 10px;
}
.you-feature-text-container p{
    font-size: 0.9em;
    font-weight: 500;
    color: #424242;
    margin-bottom: 10px;
}
.you-feature-text-container{
    padding-right: 25px;
}
.head-container{
    border-left:  5px solid  #FF900E ;
    padding-left: 10px;
}
.card{
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.218);
    margin-top: 10px;
    padding: 10px;
}
.card h5{
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}
.firstone{
    font-size: 1.5em;
    font-weight: bold;

}
.first-unique-button{
    padding: 10px;
    margin-left: -30px;
    margin-top: -130px;
}












@media screen and (max-width:576px){
  #nav-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 120px;
    align-items: center;
    text-align: center;
}
.li-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
} 
.li-container li{
   margin-top: 30px;
    
} 
.li-container a{
   
    font-size: 1.9rem;
    font-weight: 400;
} 
#hero-container{
    justify-content: center;
   width: 80%;
    margin: 1px auto;
}
#hero-container h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin: 20px auto;
}
#hero-container p{
    font-size: 1rem;
     margin: 10px 15px;
      color:#424242 ;
}
#our-feature{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.same{
 
 align-items: center;
}
.team-img-container{
    display: grid;
    justify-content: center;
  grid-template-columns: repeat(1,1fr);
  gap: 5px;
 }
 .text-container{
    margin-bottom: 50px;
 }
 #you-feature{
    display: flex;
    flex-direction: column;
   margin-top: 50px;
   gap: 30px;
   text-align: center;
   align-items: center;
    justify-content: center;
}
.same1{
    max-width: 90%;
}
.you-feature-text-container p{
    font-size: 0.8rem;
    font-weight: 300;
    color:black;
    margin-bottom: 10px;

}
.first-unique-button{
    padding:10px 20px;
    margin-left: 0px;
    margin-top: 10px;
}
.card h5{
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
}
.head-container{
    border-left:  5px solid  #FF900E ;
    padding-left: 10px;
    text-align: left;
}
.subtitle-container{
    text-align: left;
    margin-bottom: 50px;
}
.card{
margin-top: 10px ;
} 

}